.header {
    padding: 20px 0;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #5e5e5e;

    .container-fluid {
        width: 96%;
    }

    .logo {
        display: block;
        width: 70px;
        height: 70px;
    }

    .row {
        align-items: center;
    }

    .phn-img {
        width: 70px;
        height: 70px;
    }

    ul {
        text-align: right;
        position: relative;
        margin-top: 20px;

        li {
            display: inline-block;
            padding: 0 12px;
            position: relative;
            // z-index: 1;
            transition: .5s all;

            a {
                color: @color-white;
                font-weight: 700;
                transition: .5s all;
                font-size: 16px;
            }

            .nav-link {
                padding: 0;
            }

            &.me-btn {
                a {
                    display: inline-block;
                    margin-left: 8px;
                    color: #fffefe;
                    font-size: 22px;
                    line-height: 24px;
                    font-weight: 400;
                }

                span {
                    display: block;
                    text-align: left;
                    color: @color-grey;
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            &:first-child {
                padding-left: 0;
            }


            &:last-child {
                padding-right: 0;
            }
        }

        .dropdown-menu {
            background-color: @color-white;
            padding: 0;
            margin: 0;

            .dropdown-item {
                color: #000000 !important;
                padding: 6px 15px 4px 15px;
                font-weight: 500;
                border-bottom: 1px solid #3182ce;
                margin-bottom: 0px;
                letter-spacing: 0.5px;
                font-size: 12px;
                font-weight: 600;
                transition: .5s all;


                &:hover {
                    background: #3182ce;
                    color: @color-white !important;
                }
            }

        }
    }
}

@media screen and (max-width : 767.98px) {

    .header {

        .menu {
            opacity: 0;

            li {
                display: block;
                margin: 0;
                padding: 0;
                width: 100%;
                border-bottom: 1px solid #616aab;
                position: relative;
                text-align: left;



                a {
                    font-size: 16px;
                    padding-left: 0;
                    color: #fff ;
                    font-weight: 400;
                    padding: 10px 15px;
                    text-align: left;
                    display: block;
                    width: 100%;
                    letter-spacing: 0.5px;
                    text-align: left;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }

                &.me-btn{
                    border-bottom: none;


                    .phn-img{
                        margin-top: 25px;
                        padding-left: 20px;
                    }
                }
            }
        }


        .main-menu {
            margin: 0;
            overflow-y:scroll ;
            position: fixed;
            left: -100%;
            width: 75%;
            top: 0;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
            // background: rgb(37, 30, 24);
            background: linear-gradient(0deg, #061d3d 25%, #38506c 100%);
            height: 100%;
            z-index: 1;
            padding-top: 60px;

            ul {
                padding: 0 0;
                width: 97%;
            }
        }

        .menu-bottom {
            width: 40px;
            height: 40px;
            padding: 5px;
            float: right;
            position: absolute;
            z-index: 10;
            cursor: pointer;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            right: 18px;
            top: -50px;

            span {
                height: 2px;
                background: #ffffff;
                display: block;
                width: 100%;
                margin-bottom: 6px;
                position: relative;
            }
        }


        &.menu-open {
            .main-menu {
                left: calc(-1% - -3px);
            }

            .menu {
                transition-delay: 0.5s;
                opacity: 1;
            }

        }





    }
}